<div id="prod_left">
	<div>
		<input type="text" ng-model="product_filter" placeholder="search...">
		<button ng-click="">Filter</button>
	</div>

	<div>
		<h3>Add a new product</h3>
		<form>
			<p>Item: <input type="text" ng-model="item.item"></p>
			<p>Image(URL):<input type="text" ng-model="item.url"></p>
			<p>Description: </p>
			<textarea ng-model="item.description" rows="3" cols="35"></textarea>
			<p>Quantity: <input type="number" min="1" ng-model="item.amount"></p>
			<input type="submit" value="Add Item" ng-click="add_product()">
		</form>
	</div>

	<div id="prod_right">
		<div ng-repeat = "item in items | limitTo: show | filter: product_filter">
			<p ng-bind="item.item"></p>
			<img ng-if="item.url" src="item.url" alt="error displaying image">
			<p>({{item.amount}} left)</p>

		</div>

		<a href="" ng-click="show_more()">show more...</a>
	</div>





</div>